.jumbotron {
  background-color: yellow;
  text-align: center;
}

.hiddn {
  display: none;
}

.carousel-inner {
  width: 90%;
  height: 10%;
  text-align: center;
}

.item h3 {
  font-size: 72px;
  font-family: serif;
  color: #ffffff;
  text-shadow: 2px 2px #000000;
}

.term:hover {
  cursor: pointer;
}
